<h3 class="text-black font-bold">Filtres</h3>
<hr class="mb-2">
<div>
    <div class="filter-item mb-2"> <!-- Added margin-bottom class -->
        <label class="text-black font-semibold" for="brand">Marque : </label>
        <select class="bg-white" name="brand" id="brand" [(ngModel)]="selectedBrand">
            <option value="">Toutes les marques</option>
            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
        </select>
    </div>
      
    <div class="filter-item mb-2"> <!-- Added margin-bottom class -->
        <label class="text-black font-semibold" for="brand">Prix : </label>
        <input type="range" min="0" max="100" value="25" class="range range-sm" step="25" />
        <div class="w-full flex justify-between text-xs px-2">
        <span>0€</span>
        <span>|</span>
        <span>|</span>
        <span>|</span>
        <span>5000€</span>
        </div>
    </div>
      
    <div class="filter-item mb-2">
        <label class="text-black font-semibold" for="brand">Notes : </label>
        <div class="rating rating-sm">
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
          </div>
    </div>
</div>