<app-header></app-header>
<div class="flex grid-cols-2">
    <app-signup [(submitted)]="submitted" (submittedData)="onDataSubmitted($event)"></app-signup>
    <div class="m-80 rounded-lg bg-white text-black" *ngIf="submitted">
        <h2>Vos Informations:</h2>
        <p>Pseudo: {{ submittedData?.pseudo }}</p>
        <p>Nom: {{ submittedData?.lastname }}</p>
        <p>Prénom: {{ submittedData?.firstname }}</p>
        <p>Email: {{ submittedData?.email }}</p>
        <p>Adresse: {{ submittedData?.address }}</p>
        <p>Telephone: {{ submittedData?.phone }}</p>
        <p>Ville: {{ submittedData?.city }}</p>
        <p>Pays: {{ submittedData?.country }}</p>
        <p>Code Postal: {{ submittedData?.postalCode }}</p>
    </div>
</div>
<app-footer></app-footer>